.card {
  position: relative;
  margin: 20px auto;
  text-align: center;
  max-width: 600px;
  color: #010149;

  background-image: url("images/weather.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 1% 99%;
}

footer {
  font-size: 12px;
  font-family: monospace;
  text-align: center;
  color: #010149;
}

h6 {
  color: #f50056;
  font-size: 18px;
}

#city {
  color: #f50056;
  font-weight: 600;
  font-size: 24px;
}

#current-Temp {
  color: #f50056;
  font-size: 24px;
  vertical-align: bottom;
}

.dayCard {
  box-shadow: 4px 4px 4px rgba(102, 101, 101, 0.1);
  border-radius: 4px;
  margin-top: 20px;
  background-color: rgba(241, 239, 239, 0.5);
  padding: 20px 0;
}

.day {
  margin: 10px auto;
}

.tempRange {
  font-size: 12px;
}

.units {
  font-size: 12px;
  list-style: none;
  vertical-align: middle;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
  font-size: 10px;
}

.currently {
  margin-top: 78px;
}

.description {
  font-size: 10px;
  text-align: left;
  margin-top: 106px;
}
.humidity {
  font-size: 10px;
  text-align: left;
}
.windSpeed {
  font-size: 10px;
  text-align: left;
}

.active {
  color: #f50056;
  font-weight: 500;
}
.active:hover {
  cursor: default;
  color: #f50056;
  text-decoration: none;
}

.ForecastWeatherIcon {
  max-width: 32px;
  color: #010149;
}
